<%- include('includes/header.ejs'); %>

    <%- include('includes/menu_header.ejs');  %>


        <!--================End Main Header Area =================-->
        <section class="banner_area">
            <div class="container">
                <div class="banner_text">
                    <h3>Portfolio full width</h3>
                    <ul>
                        <li><a href="index.html">Home</a></li>
                        <li><a href="portfolio.html">Portfolio</a></li>
                    </ul>
                </div>
            </div>
        </section>
        <!--================End Main Header Area =================-->

        <!--================Portfolio Area Area =================-->
        <section class="portfolio_area portfolio_full p_100">
            <div class="portfolio_filter">
                <ul class="list_style">
                    <li class="active" data-filter="*"><a href="#">All</a></li>
                    <li data-filter=".cake"><a href="#">Cakes</a></li>
                    <li data-filter=".bakery"><a href="#">Bakery</a></li>
                    <li data-filter=".past"><a href="#">Pastries</a></li>
                    <li data-filter=".choco"><a href="#">Chocolates</a></li>
                    <li data-filter=".bread"><a href="#">Breads</a></li>

                </ul>
            </div>
            <div class="portfolio_full_width_area grid_portfolio_area imageGallery1">
                <div class="portfolio_full_item cake choco">
                    <div class="portfolio_item">
                        <div class="portfolio_img">
                            <a class="light" href="img/portfolio/portfolio-1.jpg">
                                <img class="img-fluid" src="img/portfolio/portfolio-1.jpg" alt="">
                            </a>
                        </div>
                        <div class="portfolio_text">
                            <a href="#">
                                <h4>Chocolate Pastry</h4>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="portfolio_full_item bakery">
                    <div class="portfolio_item">
                        <div class="portfolio_img">
                            <a class="light" href="img/portfolio/portfolio-2.jpg">
                                <img class="img-fluid" src="img/portfolio/portfolio-2.jpg" alt="">
                            </a>
                        </div>
                        <div class="portfolio_text">
                            <a href="#">
                                <h4>Chocolate Pastry</h4>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="portfolio_full_item cake choco">
                    <div class="portfolio_item">
                        <div class="portfolio_img">
                            <a class="light" href="img/portfolio/portfolio-3.jpg">
                                <img class="img-fluid" src="img/portfolio/portfolio-3.jpg" alt="">
                            </a>
                        </div>
                        <div class="portfolio_text">
                            <a href="#">
                                <h4>Chocolate Pastry</h4>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="portfolio_full_item cake bakery">
                    <div class="portfolio_item past">
                        <div class="portfolio_img">
                            <a class="light" href="img/portfolio/portfolio-4.jpg">
                                <img class="img-fluid" src="img/portfolio/portfolio-4.jpg" alt="">
                            </a>
                        </div>
                        <div class="portfolio_text">
                            <a href="#">
                                <h4>Chocolate Pastry</h4>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="portfolio_full_item bakery choco">
                    <div class="portfolio_item">
                        <div class="portfolio_img">
                            <a class="light" href="img/portfolio/portfolio-5.jpg">
                                <img class="img-fluid" src="img/portfolio/portfolio-5.jpg" alt="">
                            </a>
                        </div>
                        <div class="portfolio_text">
                            <a href="#">
                                <h4>Chocolate Pastry</h4>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="portfolio_full_item cake past">
                    <div class="portfolio_item">
                        <div class="portfolio_img">
                            <a class="light" href="img/portfolio/portfolio-6.jpg">
                                <img class="img-fluid" src="img/portfolio/portfolio-6.jpg" alt="">
                            </a>
                        </div>
                        <div class="portfolio_text">
                            <a href="#">
                                <h4>Chocolate Pastry</h4>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="portfolio_full_item bakery past">
                    <div class="portfolio_item">
                        <div class="portfolio_img">
                            <a class="light" href="img/portfolio/portfolio-7.jpg">
                                <img class="img-fluid" src="img/portfolio/portfolio-7.jpg" alt="">
                            </a>
                        </div>
                        <div class="portfolio_text">
                            <a href="#">
                                <h4>Chocolate Pastry</h4>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="portfolio_full_item past bread">
                    <div class="portfolio_item">
                        <div class="portfolio_img">
                            <a class="light" href="img/portfolio/portfolio-8.jpg">
                                <img class="img-fluid" src="img/portfolio/portfolio-8.jpg" alt="">
                            </a>
                        </div>
                        <div class="portfolio_text">
                            <a href="#">
                                <h4>Chocolate Pastry</h4>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="portfolio_full_item past bread">
                    <div class="portfolio_item">
                        <div class="portfolio_img">
                            <a class="light" href="img/portfolio/portfolio-9.jpg">
                                <img class="img-fluid" src="img/portfolio/portfolio-9.jpg" alt="">
                            </a>
                        </div>
                        <div class="portfolio_text">
                            <a href="#">
                                <h4>Chocolate Pastry</h4>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="portfolio_full_item past bread">
                    <div class="portfolio_item">
                        <div class="portfolio_img">
                            <a class="light" href="img/portfolio/portfolio-3.jpg">
                                <img class="img-fluid" src="img/portfolio/portfolio-3.jpg" alt="">
                            </a>
                        </div>
                        <div class="portfolio_text">
                            <a href="#">
                                <h4>Chocolate Pastry</h4>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--================End Portfolio Area Area =================-->

        <!--================Newsletter Area =================-->
        <section class="newsletter_area">
            <div class="container">
                <div class="row newsletter_inner">
                    <div class="col-lg-6">
                        <div class="news_left_text">
                            <h4>Join our Newsletter list to get all the latest offers, discounts and other benefits</h4>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="newsletter_form">
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="Enter your email address">
                                <div class="input-group-append">
                                    <button class="btn btn-outline-secondary" type="button">Subscribe Now</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--================End Newsletter Area =================-->



        <!--============================ PAGE  FOOTER   =================-->
        <%- include('includes/footer.ejs') %>