<%- include('includes/header.ejs'); %>

    <!--  FOR LIVE CAKE PRICE CALCULATION -->
    <link href="/stylesheets/cakeform.css" rel="stylesheet">
    <script src="/javascripts/formcalculations.js"></script>

    <%- include('includes/menu_header.ejs');  %>
        <!--================End Main Header Area =================-->
        <section class="banner_area">
            <div class="container">
                <div class="banner_text">
                    <h3>Product Details</h3>
                    <ul>
                        <li><a href="/">Home</a></li>
                        <li><a href="product-details">Product Details</a></li>
                    </ul>
                </div>
            </div>
        </section>
        <!--================End Main Header Area =================-->

        <!--================Product Details Area =================-->
        <section class="product_details_area p_100">
            <div class="container">
                <div class="row product_d_price">
                    <div class="col-lg-6">
                        <div class="product_img"><img class="img-fluid" src="img/product/product-details-1.jpg" alt=""></div>
                    </div>
                    <div class="col-lg-6">
                        <div class="product_details_text">
                            <h4>Brown Cake</h4>
                            <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequ untur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, </p>
                            <!--         price calculator for cakes starts here --->
                            <div class="panel panel-body">
                                <div id="wrap" onload='hideTotal()'>
                                    <form class="form-horizontal" action="" id="cakeform" onsubmit="return false;">
                                        <div class="form-group">
                                            <div class="cont_order">
                                                <fieldset>
                                                    <legend>Make your cake!| Customize your cake</legend>
                                                    <label>Size Of the Cake</label>

                                                    <label class='radiolabel'>
                                                    <input type="radio"  name="selectedcake" value="Round6" onclick="calculateTotal()" /> Round cake 6" -  serves 8 people (Rwf 20,000)</label><br/>
                                                    <label class="radiolabel form-check-label"><input type="radio"  name="selectedcake" value="Round8" onclick="calculateTotal()" /> Round cake 8" - serves 12 people (Rwf 25,000)</label><br/>
                                                    <label class='radiolabel'>
                                                        <input type="radio"  name="selectedcake" value="Round10" onclick="calculateTotal()" /> Round cake 10" - serves 16 people(Rwf 35,000)
                                                    </label><br/>
                                                    <label class='radiolabel'><input type="radio"  name="selectedcake" value="Round12" onclick="calculateTotal()" /> Round cake 12" - serves 30 people(Rwf 75,000)</label><br/>
                                                    <br/>
                                                    <label>Filling</label>

                                                    <select id="filling" name='filling' onchange="calculateTotal()" class="form-control">
                                                        <option value="None" disabled="disabled" selected="selected">Select Filling</option>
                                                        <option value="Lemon">Lemon(Rwf 5,000)</option>
                                                        <option value="Custard">Custard(Rwf 5,000)</option>
                                                        <option value="Fudge">Fudge(Rwf 7,000)</option>
                                                        <option value="Mocha">Mocha(Rwf 8,000)</option>
                                                        <option value="Raspberry">Raspberry(Rwf 10,000)</option>
                                                        <option value="Pineapple">Pineapple(Rwf 5,000)</option>
                                                        <option value="Dobash">Dobash(Rwf 9,000)</option>
                                                        <option value="Mint">Mint(Rwf 5)</option>
                                                        <option value="Cherry">Cherry(Rwf 5,000)</option>
                                                        <option value="Apricot">Apricot(Rwf 8,000)</option>
                                                        <option value="Buttercream">Buttercream(Rwf 7,000)</option>
                                                        <option value="Chocolate Mousse">Chocolate Mousse(Rwf 15,000)</option>
                                                    </select>
                                                    <br/>
                                                    <p>
                                                        <label for='includecandles' class="inlinelabel">Include Candles (Rwf 1,000)</label>
                                                        <input type="checkbox" id="includecandles" name='includecandles' onclick="calculateTotal()" />
                                                    </p>

                                                    <p>
                                                        <label class="inlinelabel" for='includeinscription'>Include Inscription(Rwf 1,000)</label>
                                                        <input type="checkbox" id="includeinscription" name="includeinscription" onclick="calculateTotal()" />
                                                        <input type="text" id="theinscription" name="theinscription" value="Enter Inscription" />
                                                    </p>
                                                    <div id="totalPrice"><b></b></div>

                                                </fieldset>
                                            </div>

                                            <div class="cont_details">
                                                <fieldset>
                                                    <legend>Contact Details</legend>
                                                    <label for='name'>Name</label>
                                                    <input type="text" id="name" name='name' />
                                                    <br/>
                                                    <label for='address'>Address</label>
                                                    <input type="text" id="address" name='address' />
                                                    <br/>
                                                    <label for='phonenumber'>Phone Number</label>
                                                    <input type="text" id="phonenumber" name='phonenumber' />
                                                    <br/>
                                                </fieldset>
                                            </div>
                                            <input type='submit' id='submit' value='Submit' onclick="calculateTotal()" />
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <!--End of wrap-->


                            <!--         price calculator for cakes ends here --->
                            <h5>Price :<span>Rwf 24.5</span></h5>
                            <div class="quantity_box">
                                <label for="quantity">Quantity :</label>
                                <input type="text" placeholder="1" id="quantity">
                            </div>
                            <a class="pink_more" href="#">Add to Cart</a>
                        </div>
                    </div>
                </div>
                <div class="product_tab_area">
                    <nav>
                        <div class="nav nav-tabs" id="nav-tab" role="tablist">
                            <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">Descripton</a>
                            <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">Specification</a>
                            <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-contact" role="tab" aria-controls="nav-contact" aria-selected="false">Review (0)</a>
                        </div>
                    </nav>
                    <div class="tab-content" id="nav-tabContent">
                        <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                                Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                            <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
                                veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat
                                non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>
                        </div>
                        <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                                Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                            <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
                                veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat
                                non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>
                        </div>
                        <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                                Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                            <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
                                veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat
                                non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--================End Product Details Area =================-->

        <!--================Similar Product Area =================-->
        <section class="similar_product_area p_100">
            <div class="container">
                <div class="main_title">
                    <h2>Similar Products</h2>
                </div>
                <div class="row similar_product_inner">
                    <div class="col-lg-3 col-md-4 col-6">
                        <div class="cake_feature_item">
                            <div class="cake_img">
                                <img src="img/cake-feature/c-feature-1.jpg" alt="">
                            </div>
                            <div class="cake_text">
                                <h4>Rwf 29</h4>
                                <h3>Strawberry Cupcakes</h3>
                                <a class="pest_btn" href="#">Add to cart</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-6">
                        <div class="cake_feature_item">
                            <div class="cake_img">
                                <img src="img/cake-feature/c-feature-2.jpg" alt="">
                            </div>
                            <div class="cake_text">
                                <h4>Rwf 29</h4>
                                <h3>Strawberry Cupcakes</h3>
                                <a class="pest_btn" href="#">Add to cart</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-6">
                        <div class="cake_feature_item">
                            <div class="cake_img">
                                <img src="img/cake-feature/c-feature-3.jpg" alt="">
                            </div>
                            <div class="cake_text">
                                <h4>Rwf 29</h4>
                                <h3>Strawberry Cupcakes</h3>
                                <a class="pest_btn" href="#">Add to cart</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-6">
                        <div class="cake_feature_item">
                            <div class="cake_img">
                                <img src="img/cake-feature/c-feature-4.jpg" alt="">
                            </div>
                            <div class="cake_text">
                                <h4>Rwf 29</h4>
                                <h3>Strawberry Cupcakes</h3>
                                <a class="pest_btn" href="#">Add to cart</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--================End Similar Product Area =================-->

        <!--================Newsletter Area =================-->
        <section class="newsletter_area">
            <div class="container">
                <div class="row newsletter_inner">
                    <div class="col-lg-6">
                        <div class="news_left_text">
                            <h4>Join our Newsletter list to get all the latest offers, discounts and other benefits</h4>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="newsletter_form">
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="Enter your email address">
                                <div class="input-group-append">
                                    <button class="btn btn-outline-secondary" type="button">Subscribe Now</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--================End Newsletter Area =================-->




        <!--============================ PAGE  FOOTER   =================-->
        <%- include('includes/footer.ejs') %>