<%- include('includes/header.ejs'); %>

    <%- include('includes/menu_header.ejs');  %>

        <!--================End Main Header Area =================-->
        <section class="banner_area">
            <div class="container">
                <div class="banner_text">
                    <h3>Testimonials</h3>
                    <ul>
                        <li><a href="index.html">Home</a></li>
                        <li><a href="service.html">Testimonials</a></li>
                    </ul>
                </div>
            </div>
        </section>
        <!--================End Main Header Area =================-->

        <!--================Testimonials item Area =================-->
        <section class="testimonials_item_area p_100">
            <div class="container">
                <div class="testi_item_inner">
                    <div class="media">
                        <div class="d-flex">
                            <img src="img/client/client-1.png" alt="">
                            <h3>“</h3>
                        </div>
                        <div class="media-body">
                            <p>Osed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci sed quia non numquam qui ratione voluptatem sequi nesciunt.
                                Neque porro quisquam est.</p>
                            <h5>- Robert joe</h5>
                        </div>
                    </div>
                    <div class="media">
                        <div class="d-flex">
                            <img src="img/client/client-2.png" alt="">
                            <h3>“</h3>
                        </div>
                        <div class="media-body">
                            <p>Osed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci sed quia non numquam qui ratione voluptatem sequi nesciunt.
                                Neque porro quisquam est.</p>
                            <h5>- Robert joe</h5>
                        </div>
                    </div>
                    <div class="media">
                        <div class="d-flex">
                            <img src="img/client/client-1.png" alt="">
                            <h3>“</h3>
                        </div>
                        <div class="media-body">
                            <p>Osed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci sed quia non numquam qui ratione voluptatem sequi nesciunt.
                                Neque porro quisquam est.</p>
                            <h5>- Robert joe</h5>
                        </div>
                    </div>
                    <div class="media">
                        <div class="d-flex">
                            <img src="img/client/client-2.png" alt="">
                            <h3>“</h3>
                        </div>
                        <div class="media-body">
                            <p>Osed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci sed quia non numquam qui ratione voluptatem sequi nesciunt.
                                Neque porro quisquam est.</p>
                            <h5>- Robert joe</h5>
                        </div>
                    </div>
                    <div class="media">
                        <div class="d-flex">
                            <img src="img/client/client-1.png" alt="">
                            <h3>“</h3>
                        </div>
                        <div class="media-body">
                            <p>Osed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci sed quia non numquam qui ratione voluptatem sequi nesciunt.
                                Neque porro quisquam est.</p>
                            <h5>- Robert joe</h5>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--================End Testimonials item Area =================-->

        <!--================Newsletter Area =================-->
        <section class="newsletter_area">
            <div class="container">
                <div class="row newsletter_inner">
                    <div class="col-lg-6">
                        <div class="news_left_text">
                            <h4>Join our Newsletter list to get all the latest offers, discounts and other benefits</h4>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="newsletter_form">
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="Enter your email address">
                                <div class="input-group-append">
                                    <button class="btn btn-outline-secondary" type="button">Subscribe Now</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--================End Newsletter Area =================-->



        <!--============================ PAGE  FOOTER   =================-->
        <%- include('includes/footer.ejs') %>