<!-- ============================================================== -->
<!-- Left Sidebar - style you can find in sidebar.scss  -->
<!-- ============================================================== -->
<aside class="left-sidebar" data-sidebarbg="skin5" style="margin-top: -30px;">
    <!-- Sidebar scroll-->
    <div class="scroll-sidebar">
        <!-- Sidebar navigation-->
        <nav class="sidebar-nav">
            <ul id="sidebarnav" class="p-t-30">
                <li class="sidebar-item">
                    <a class="sidebar-link waves-effect waves-dark sidebar-link" href="/admin/home" aria-expanded="false">
                        <i class="mdi mdi-view-dashboard"></i>
                        <span class="hide-menu">Dashboard</span>
                    </a>
                </li>
                <li class="sidebar-item">
                    <a class="sidebar-link waves-effect waves-dark sidebar-link" href="/admin/users" aria-expanded="false">
                        <i class="mdi mdi-account-multiple"></i>
                        <span class="hide-menu">Users</span>
                    </a>
                </li>
                <li class="sidebar-item">
                    <a class="sidebar-link waves-effect waves-dark" href="/admin/products" aria-expanded="false">
                        <i class="mdi mdi-cake"></i>
                        <span class="hide-menu">CAKES </span>
                    </a>
                    <!-- <ul aria-expanded="false" class="collapse  first-level">
                              <li class="sidebar-item">
                                    <a href="/admin/ibigaragara_view" class="sidebar-link">
                                        <i class="mdi mdi-note-outline"></i>
                                        <span class="hide-menu"> View </span>
                                    </a>
                                </li>
                                <li class="sidebar-item">
                                    <a href="/admin/ibigaragara_comment" class="sidebar-link">
                                        <i class="mdi mdi-note-plus"></i>
                                        <span class="hide-menu"> Form Wizard </span>
                                    </a>
                                </li>
                          </ul> -->
                    <li class="sidebar-item">
                        <a class="sidebar-link waves-effect waves-dark sidebar-link" href="/admin/orders" aria-expanded="false">
                            <i class="mdi mdi-cart"></i>
                            <span class="hide-menu">Orders</span>
                        </a>
                    </li>
                </li>
                <li class="sidebar-item">
                    <a class="sidebar-link waves-effect waves-dark sidebar-link" href="/admin/gallery" aria-expanded="false">
                        <i class="mdi mdi-image"></i>
                        <span class="hide-menu">gallery</span>
                    </a>
                </li>

                <li class="sidebar-item">
                    <a class="sidebar-link waves-effect waves-dark sidebar-link <%= path === '/slider' ? 'active' : '' %>" href="/admin/slider" aria-expanded="false">
                        <i class="mdi mdi-scale"></i>
                        <span class="hide-menu">SLIDER</span>
                    </a>
                </li>
            </ul>
        </nav>
        <!-- End Sidebar navigation -->
    </div>
    <!-- End Sidebar scroll-->
</aside>
<!-- ============================================================== -->
<!-- End Left Sidebar - style you can find in sidebar.scss  -->
<!-- ============================================================== -->