<!-- ============================================================== -->
<!-- Left Sidebar - style you can find in sidebar.scss  -->
<!-- ============================================================== -->
<aside class="left-sidebar" data-sidebarbg="skin5" style="margin-top: -30px;">
    <!-- Sidebar scroll-->
    <div class="scroll-sidebar">
        <!-- Sidebar navigation-->
        <nav class="sidebar-nav">
            <ul id="sidebarnav" class="p-t-30">
                <li class="sidebar-item">
                    <a class="sidebar-link waves-effect waves-dark sidebar-link" href="/admin/home" aria-expanded="false">
                        <i class="mdi mdi-view-dashboard"></i>
                        <span class="hide-menu">Dashboard</span>
                    </a>
                </li>
                <li class="sidebar-item">
                    <a class="sidebar-link waves-effect waves-dark sidebar-link" href="/admin/users" aria-expanded="false">
                        <i class="mdi mdi-account-multiple"></i>
                        <span class="hide-menu">ABAKOZI</span>
                    </a>
                </li>
                <li class="sidebar-item">
                    <a class="sidebar-link waves-effect waves-dark" href="/admin/ibigaragara_view" aria-expanded="false">
                        <i class="mdi mdi-receipt"></i>
                        <span class="hide-menu">IBIGARAGARA </span>
                    </a>
                    <!-- <ul aria-expanded="false" class="collapse  first-level">
                              <li class="sidebar-item">
                                    <a href="/admin/ibigaragara_view" class="sidebar-link">
                                        <i class="mdi mdi-note-outline"></i>
                                        <span class="hide-menu"> View </span>
                                    </a>
                                </li>
                                <li class="sidebar-item">
                                    <a href="/admin/ibigaragara_comment" class="sidebar-link">
                                        <i class="mdi mdi-note-plus"></i>
                                        <span class="hide-menu"> Form Wizard </span>
                                    </a>
                                </li>
                          </ul> -->
                </li>
                <li class="sidebar-item">
                    <a class="sidebar-link waves-effect waves-dark sidebar-link" href="/admin/impindura" aria-expanded="false">
                        <i class="mdi mdi-relative-scale"></i>
                        <span class="hide-menu">IMPINDURA</span>
                    </a>
                </li>
                <li class="sidebar-item">
                    <a class="sidebar-link  waves-effect waves-dark" href="/admin/akamaro" aria-expanded="false">
                        <i class="mdi mdi-border-inside"></i>
                        <span class="hide-menu">AKAMARO </span>
                    </a>

                </li>
                <li class="sidebar-item">
                    <a class="sidebar-link waves-effect waves-dark" href="/admin/book_view" aria-expanded="false">
                        <i class="mdi mdi-face"></i>
                        <span class="hide-menu">INYANDIKO </span>
                    </a>
                    <!-- <ul aria-expanded="false" class="collapse  first-level">
                                <li class="sidebar-item">
                                    <a href="/admin/book_view" class="sidebar-link">
                                        <i class="mdi mdi-emoticon"></i>
                                        <span class="hide-menu"> Books </span>
                                    </a>
                                </li>
                                <li class="sidebar-item">
                                    <a href="/admin/book_comment" class="sidebar-link">
                                        <i class="mdi mdi-emoticon-cool"></i>
                                        <span class="hide-menu"> Ibitekerezo </span>
                                    </a>
                                </li>
                            </ul> -->
                </li>
                <li class="sidebar-item">
                    <a class="sidebar-link waves-effect waves-dark sidebar-link" href="/admin/sobanukirwa" aria-expanded="false">
                        <i class="mdi mdi-scale"></i>
                        <span class="hide-menu">SOBANUKIRWA</span>
                    </a>
                </li>
                <li class="sidebar-item">
                    <a class="sidebar-link waves-effect waves-dark sidebar-link" href="/admin/gallery" aria-expanded="false">
                        <i class="mdi mdi-pencil"></i>
                        <span class="hide-menu">gallery</span>
                    </a>
                </li>
                <li class="sidebar-item">
                    <a class="sidebar-link waves-effect waves-dark sidebar-link" href="/admin/contact" aria-expanded="false">
                        <i class="mdi mdi-account-key"></i>
                        <span class="hide-menu">TWANDIKIRE</span>
                    </a>
                </li>
                <li class="sidebar-item">
                    <a class="sidebar-link waves-effect waves-dark sidebar-link" href="/admin/anouncement" aria-expanded="false">
                        <i class="mdi mdi-move-resize-variant"></i>
                        <span class="hide-menu">KWAMAMAZA</span>
                    </a>
                </li>
                <li class="sidebar-item">
                    <a class="sidebar-link waves-effect waves-dark sidebar-link <%= path === '/slider' ? 'active' : '' %>" href="/admin/slider" aria-expanded="false">
                        <i class="mdi mdi-scale"></i>
                        <span class="hide-menu">SLIDER</span>
                    </a>
                </li>
            </ul>
        </nav>
        <!-- End Sidebar navigation -->
    </div>
    <!-- End Sidebar scroll-->
</aside>
<!-- ============================================================== -->
<!-- End Left Sidebar - style you can find in sidebar.scss  -->
<!-- ============================================================== -->